Se denominan colecciones y son estructuras que nos permiten almacenar datos. En python existe tipos de colecciones, Listas, Tuplas, CONJUNTOS Y Diccionales

**Listas **

las listas son similares a los arreglos en JavaScript, nos permite acceder a sus elementos atraves de sus indices

## Creacion y acceso
Utilizan corchetes para la creacion y acceso a sus elementos

In [ ]:
Lenguajes = ["python", "Java", "JavaScript", "C++"]
print(Lenguajes)
print(Lenguajes[0])
print(Lenguajes[1])
print(Lenguajes[2])
print(type(Lenguajes))
Lenguajes [0] = "PHP"
print (Lenguajes)

['python', 'Java', 'JavaScript', 'C++']
python
Java
JavaScript
<class 'list'>
['PHP', 'Java', 'JavaScript', 'C++']

In [ ]:
numeros = [3,4,5,6,7,8,9]
res = numeros [-3] + numeros [5]
print(res)

15

##Otra forma alternativa de crear listas es con la funcion list

In [ ]:
mi_lista = list('1234567')
print(mi_lista)

milista_enteros = [int(x) for x in mi_lista]
print(milista_enteros)

['1', '2', '3', '4', '5', '6', '7']
[1, 2, 3, 4, 5, 6, 7]

append: Colocar el dato siguiente

In [ ]:
mi_lista = list('1234567')
lista_final = []

for x in mi_lista:
  lista_final.append(int(x))
  print(lista_final)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
mi_lista = list(range(1,20))
print(mi_lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Una lista de datos puede almacenar cualquier tipo de dato y listas

In [ ]:
mi_lista = [2, 3.5, True, "sena", ["3", "8", "a", 5]]
print(mi_lista)

[2, 3.5, True, 'sena', ['3', '8', 'a', 5]]

In [ ]:
mi_lista = [1,2,3, ['p','q', [5,6,7]]]
print(mi_lista[3][2][1])
print(mi_lista[-1][-1][-2])

6
6

In [ ]:
mi_lista = list(range(1,10))
print(mi_lista)
print(mi_lista[1:4])
print(mi_lista[:2])
print(mi_lista[7:])
print(mi_lista[-5:-1])
print(mi_lista[-3:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4]
[1, 2]
[8, 9]
[5, 6, 7, 8]
[7, 8, 9]

In [ ]:
mi_lista =[1,2,3,4,5]
mi_lista [0:3] = ["a", "b", "c"]
print(mi_lista)

['a', 'b', 'c', 4, 5]

In [ ]:
mi_lista =[1,2,3,4,5]
mi_lista = mi_lista + [6]
print(mi_lista)
mi_lista = mi_lista + [6, 7, 8]
print(mi_lista)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 6, 7, 8]

In [ ]:
mi_lista = [1,2,3]
x, y, z = mi_lista
print(f"Valor de x: {x}")
print(f"Valor de x: {y}")
print(f"Valor de x: {z}")

Valor de x: 1
Valor de x: 2
Valor de x: 3

## Eliminacion e insercion
Para eliminar los elementos d euna lista, utilizamos una palabra reservada

In [ ]:
lenguaje = ["Python", "Java", "JavaScript"]
del lenguaje[1]
print(lenguaje)

['Python', 'JavaScript']

Expliquemos como insertar datos con la funcion insert y al final de la lista con append

In [ ]:
lenguaje = ["Python", "Java", "JavaScript"]
lenguaje.append("C#")
lenguaje.append("Ruby")
lenguaje.insert(1, "C++")
print(lenguaje)

['Python', 'C++', 'Java', 'JavaScript', 'C#', 'Ruby']

In [ ]:
lista = ["Cosa", "Casa", "Ala"]
lista.sort()
print(lista)

['Ala', 'Casa', 'Cosa']

Para saber si un eleemento se encuentra denro de una lista **in**

In [ ]:
lista = ["python", "Java", "C++"]
print("Python" in lista)
print("C++" in lista)

False
True

##Recorrido de listas
Como las listas son objetos iterables las podemos recorrer con un ciclo for

In [ ]:
numeros = [1,2,3,4,5,6]
print(numeros)
for n in numeros:
  print(n)

[1, 2, 3, 4, 5, 6]
1
2
3
4
5
6

Podemos recorrer la lista utilizando el motodo **len**

In [ ]:
mi_lista = [4,5,6,7]
for indice in range (0, len(mi_lista)):
  print (mi_lista[indice])

4
5
6
7

Podemos acceder al indice de cada elemento a traves de la funcion enumerate

In [ ]:
numeros = [3,29,42,34,54]
for x,y in enumerate(numeros):
  print(f"En la posicion x {x} Encontramos el valor: {y}")

En la posicion x 0 Encontramos el valor: 3
En la posicion x 1 Encontramos el valor: 29
En la posicion x 2 Encontramos el valor: 42
En la posicion x 3 Encontramos el valor: 34
En la posicion x 4 Encontramos el valor: 54

In [ ]:
letras = ["a", "b", "c", "d", "e"]
for indice,valor in enumerate(letras):
  print(f"En la posicion x {indice} Encontramos el valor: {valor}")

En la posicion x 0 Encontramos el valor: a
En la posicion x 1 Encontramos el valor: b
En la posicion x 2 Encontramos el valor: c
En la posicion x 3 Encontramos el valor: d
En la posicion x 4 Encontramos el valor: e

In [ ]:
lista = [2,36,76,23]
ind = 0
while ind < len(lista):
    print(lista[ind])
    ind += 1

2
36
76
23

In [ ]:
lista = ['ma' ,'me', 'mi','mo', 'mu']
lista2 = ['pa', 'pe', 'pi', 'po', 'pu']
ind = 0
while ind < len(lista):
      print( )
      ind += 1

[
'
m
a
'

In [ ]:
lista = ['ma' ,'me', 'mi','mo', 'mu']
lista2 = ['pa', 'pe', 'pi', 'po', 'pu']

for i in range(min(len(lista), len(lista2))):
    print(lista[i] + "-" + lista2[i])

ma-pa
me-pe
mi-pi
mo-po
mu-pu

In [ ]:
lista = ['ma' ,'me', 'mi','mo', 'mu']
lista2 = ['pa', 'pe', 'pi', 'po', 'pu']
lista3 = ['pu' ,'me', 'mi','mo', 'mu']
lista4 = ['ta', 'te', 'ti', 'to', 'tu']

for x in zip(lista, lista2, lista3, lista4):
    print(x)

('ma', 'pa', 'pu', 'ta')
('me', 'pe', 'me', 'te')
('mi', 'pi', 'mi', 'ti')
('mo', 'po', 'mo', 'to')
('mu', 'pu', 'mu', 'tu')

con la funcion zip podemos terar varias listas simultaneamente

##Metodos aplicables a listas
El metodo sert() que nos permite ordenar los elementos

In [ ]:
mi_lista = [5,10,8,3,1,52]
mi_lista.sort()
print(mi_lista)

[1, 3, 5, 8, 10, 52]

In [ ]:
mi_lista = [5,10,8,3,1,52]
mi_lista.sort(reverse=True)
print(mi_lista)

[52, 10, 8, 5, 3, 1]

El metodo remove() recibe como argumento un objeto y lo borra de la lista

In [ ]:
lenguaje = ["Python", "Java", "JavaScript"]
lenguaje.remove("Java")
print(lenguaje)

['Python', 'JavaScript']

Si utilizo **Del** debo utilizar la posicion para eliminar el elemento, si utilizo remove puedo utilizar directamente el elemento que va a borrar

In [ ]:
lenguaje = ["Python", "Java", "JavaScript"]
del lenguaje[1]
print(lenguaje)

['Python', 'JavaScript']

El metodo **Reverse()** invierte el contenido de la lista

In [ ]:
lenguaje = ["Python", "Java", "JavaScript"]
lenguaje.reverse()
print(lenguaje)

['JavaScript', 'Java', 'Python']

Cadena invertida

In [ ]:
cadena = "Hola mundo SENA"
print(cadena[::-1])

ANES odnum aloH

In [ ]:
cadena = "Hola mundo SENA"
lista = list(cadena)
print(lista)
lista.reverse()
print(lista)
cadena = "".join(lista)
print(cadena)

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o', ' ', 'S', 'E', 'N', 'A']
['A', 'N', 'E', 'S', ' ', 'o', 'd', 'n', 'u', 'm', ' ', 'a', 'l', 'o', 'H']
ANES odnum aloH

**OTROS METODOS PARA LISTAS**

clear()
*texto en cursiva*

**Tuplas**
Generalidades

Son inmutables

In [ ]:
mi_tupla = ("a", "b", "c", "d")
print(type(mi_tupla))
print(mi_tupla[1])
print(mi_tupla[1:3])
print(mi_tupla[:-1])

<class 'tuple'>
b
('b', 'c')
('a', 'b', 'c')

In [ ]:
mi_tupla = ("a", "b", "c", "d")

mi_tupla[0] = "z"
print(mi_tupla)

TypeError: 'tuple' object does not support item assignment

In [ ]:
mi_tupla = (100, 'hola', [1,2,3], 50)
print(mi_tupla[2][-1])
mi_tupla = (100, 'hola', (1 ,(200, 'D',["x","y","z"])), (1,2,3), -50)
print(mi_tupla[2][1][2][1])

3
y

In [ ]:
mi_tupla = (1,2,3,4,5,6,7,8,9,2,52,6,3,9,2,4,7,8,2)
print(mi_tupla.count(2))

4

In [ ]:
mi_tupla = (1,2,3,4,5,6,7,8,9,2,52,6,3,9,2,4,7,8,2)
mi_tupla.sort()
print(mi_tupla)

In [ ]:
mi_tupla = tuple("asarado")

print(mi_tupla)

('a', 's', 'a', 'r', 'a', 'd', 'o')

In [ ]:
mi_tupla = tuple(input("Ingresar Frase"))
print(mi_tupla)
print(f"Cantidad ELementos que tiene la tupla es : {len(mi_tupla)}")
for dato in mi_tupla:
  print(dato)

Ingresar Frasepo
('p', 'o')
Cantidad ELementos que tiene la tupla es : 2
p
o

Paso de tupla a lista y de lista a tupla

In [ ]:
mi_lista = [1,2,3,4,5]
mi_tupla = tuple(mi_lista)
print(mi_tupla)

(1, 2, 3, 4, 5)

de tupla a lista

In [ ]:
mi_tupla = (1,2,3,4,5)
mi_lista = list(mi_tupla)
print(mi_lista)

[1, 2, 3, 4, 5]

In [ ]:
mi_tupla = (3,4,5,6,15,20,63,4,2,8,9)
mi_lista = list(mi_tupla)
mi_lista.sort()
mi_tupla = tuple(mi_lista)
print(mi_tupla)

(2, 3, 4, 4, 5, 6, 8, 9, 15, 20, 63)

##Apropiacion

1.   pregunte al usuario cuantos elementos desea ingresar en una lista. luego solicite cada uno de eellos y presente el contenido de la lista y su contenido

In [ ]:
elementos = int(input("Ingrese la cantidad de elemntos de la lista: "))
lista=[]
for i in range(elementos):
  lista.append(input(f"Ingrese el elemento {i+1}: "))
print(lista)
lista.reverse()
print(lista)

2.   Crear una lista de numeros y solicitar un numero. Borrar de la lista ese numero en todas las posiciones donde se encuentre. presentar la lista final

In [ ]:
lista_numeros = [1,2,3,4,5,6,7,8,9,10]
print(lista_numeros)
numero = int(input("Ingrese un número del 1 al 10: "))
if numero in lista_numeros:
    lista_numeros.remove(numero)
print(lista_numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Ingrese un número del 1 al 10: 2
[1, 3, 4, 5, 6, 7, 8, 9, 10]



3. Solicite al usuario dos(2) frases y devuelva una lista con todas las letras que se repiten en la misma posición de ambas listas
         ejemplo:
         frase1:  "holasena"
         frase2:  "todogana",
         salida: ["o","n", "a"]

In [ ]:

primera = input("Ingrese una frase/Palabra: ")
segunda = input("Ingrese una frase/Palabra: ")


lista_primera = list(primera)
lista_segunda = list(segunda)


repetidos = []


for caracter in lista_primera:
    if caracter in lista_segunda and caracter not in repetidos:
        repetidos.append(caracter)


print("Caracteres repetidos:", repetidos)

Ingrese una frase/Palabra: Rata
Ingrese una frase/Palabra: Ratina
Caracteres repetidos: ['R', 'a', 't']